In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [110]:
import pyspark
#

In [142]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Stock_test').getOrCreate()
stock_price = [('MSFT','2022-05-20','310'), ('MSFT','2022-05-21','300'), ('MSFT','2022-05-22','320')]

In [143]:
df = spark.createDataFrame(data = stock_price, schema = ['Stock','Date','Price'])
df.show()

+-----+----------+-----+
|Stock|      Date|Price|
+-----+----------+-----+
| MSFT|2022-05-20|  310|
| MSFT|2022-05-21|  300|
| MSFT|2022-05-22|  320|
+-----+----------+-----+

In [181]:
stocks = spark.read.csv('/content/drive/MyDrive/Stock_Data')

In [182]:
stocks.show()

+------+----------+----------+-------+--------+--------+--------+
|   _c0|       _c1|       _c2|    _c3|     _c4|     _c5|     _c6|
+------+----------+----------+-------+--------+--------+--------+
|Ticker|      Date|Close/Last| Volume|    Open|    High|     Low|
| BRK-B|05/31/2023|  $321.08 |6175417|$321.12 |$322.41 |$319.39 |
| BRK-B|05/30/2023|  $322.19 |3232461|$321.86 |$322.47 |$319.00 |
| BRK-B|05/26/2023|  $320.60 |3229873|$320.44 |$322.63 |$319.67 |
| BRK-B|05/25/2023|  $319.02 |4251935|$320.56 |$320.56 |$317.71 |
| BRK-B|05/24/2023|  $320.20 |3075393|$322.71 |$323.00 |$319.56 |
| BRK-B|05/23/2023|  $323.11 |4031342|$328.19 |$329.27 |$322.97 |
| BRK-B|05/22/2023|  $329.13 |2763422|$330.75 |$331.49 |$328.35 |
| BRK-B|05/19/2023|  $330.39 |4323538|$331.00 |$333.94 |$329.12 |
| BRK-B|05/18/2023|  $329.76 |2808329|$326.87 |$329.98 |$325.85 |
| BRK-B|05/17/2023|  $327.39 |3047626|$325.02 |$328.26 |$324.82 |
| BRK-B|05/16/2023|  $323.75 |2139996|$322.46 |$324.69 |$322.36 |
| BRK-B|05/15/2023|  $323.53 |2191609|$322.89 |$323.83 |$320.13 |
| BRK-B|05/12/2023|  $322.49 |1938264|$323.82 |$324.24 |$320.54 |
| BRK-B|05/11/2023|  $322.64 |2549339|$321.00 |$322.96 |$319.81 |
| BRK-B|05/10/2023|  $322.99 |2641134|$326.08 |$326.16 |$320.15 |
| BRK-B|05/09/2023|  $324.87 |2285924|$324.87 |$326.88 |$323.48 |
| BRK-B|05/08/2023|  $326.14 |3303393|$328.26 |$330.69 |$325.79 |
| BRK-B|05/05/2023|  $323.88 |3876299|$323.36 |$325.16 |$322.62 |
| BRK-B|05/04/2023|  $320.00 |3194768|$323.44 |$325.99 |$317.41 |
+------+----------+----------+-------+--------+--------+--------+
only showing top 20 rows

In [183]:
stocks.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)

In [184]:
stocks.select("_c0").show()

+------+
|   _c0|
+------+
|Ticker|
| BRK-B|
| BRK-B|
| BRK-B|
| BRK-B|
| BRK-B|
| BRK-B|
| BRK-B|
| BRK-B|
| BRK-B|
| BRK-B|
| BRK-B|
| BRK-B|
| BRK-B|
| BRK-B|
| BRK-B|
| BRK-B|
| BRK-B|
| BRK-B|
| BRK-B|
+------+
only showing top 20 rows

In [185]:
stocks.filter(stocks['_c0'] == 'MSFT').show()

+----+----------+--------+--------+--------+--------+--------+
| _c0|       _c1|     _c2|     _c3|     _c4|     _c5|     _c6|
+----+----------+--------+--------+--------+--------+--------+
|MSFT|05/31/2023|$328.39 |45950550|$332.29 |$335.94 |$327.33 |
|MSFT|05/30/2023|$331.21 |29503070|$335.23 |$335.74 |$330.52 |
|MSFT|05/26/2023|$332.89 |36630630|$324.02 |$333.40 |$323.88 |
|MSFT|05/25/2023|$325.92 |43301740|$323.24 |$326.90 |$320.00 |
|MSFT|05/24/2023|$313.85 |23384890|$314.73 |$316.50 |$312.61 |
|MSFT|05/23/2023|$315.26 |30797170|$320.03 |$322.72 |$315.25 |
|MSFT|05/22/2023|$321.18 |24115660|$318.60 |$322.59 |$318.01 |
|MSFT|05/19/2023|$318.34 |27546700|$316.74 |$318.75 |$316.37 |
|MSFT|05/18/2023|$318.52 |27275990|$314.53 |$319.04 |$313.72 |
|MSFT|05/17/2023|$314.00 |24315010|$312.29 |$314.43 |$310.74 |
|MSFT|05/16/2023|$311.74 |26730350|$309.83 |$313.71 |$309.83 |
|MSFT|05/15/2023|$309.46 |16336550|$309.10 |$309.91 |$307.59 |
|MSFT|05/12/2023|$308.97 |19774700|$310.55 |$310.65 |$306.60 |
|MSFT|05/11/2023|$310.11 |31680180|$310.10 |$311.12 |$306.26 |
|MSFT|05/10/2023|$312.31 |30078040|$308.62 |$313.00 |$307.67 |
|MSFT|05/09/2023|$307.00 |21340830|$308.00 |$310.04 |$306.31 |
|MSFT|05/08/2023|$308.65 |21318610|$310.13 |$310.20 |$306.09 |
|MSFT|05/05/2023|$310.65 |28197050|$305.72 |$311.97 |$304.27 |
|MSFT|05/04/2023|$305.41 |22519910|$306.24 |$307.76 |$303.40 |
|MSFT|05/03/2023|$304.40 |22360750|$306.62 |$308.61 |$304.09 |
+----+----------+--------+--------+--------+--------+--------+
only showing top 20 rows

In [186]:
from pyspark.sql.functions import udf
from pyspark.sql.types import DateType
from datetime import datetime

In [187]:
date_parser = udf(lambda date: datetime.strptime(date, "%m/%d/%Y"), DateType())

In [188]:
stocks.withColumn("Date", date_parser(stocks._c1))

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, Date: date]

In [189]:
stocks.show(5)

+------+----------+----------+-------+--------+--------+--------+
|   _c0|       _c1|       _c2|    _c3|     _c4|     _c5|     _c6|
+------+----------+----------+-------+--------+--------+--------+
|Ticker|      Date|Close/Last| Volume|    Open|    High|     Low|
| BRK-B|05/31/2023|  $321.08 |6175417|$321.12 |$322.41 |$319.39 |
| BRK-B|05/30/2023|  $322.19 |3232461|$321.86 |$322.47 |$319.00 |
| BRK-B|05/26/2023|  $320.60 |3229873|$320.44 |$322.63 |$319.67 |
| BRK-B|05/25/2023|  $319.02 |4251935|$320.56 |$320.56 |$317.71 |
+------+----------+----------+-------+--------+--------+--------+
only showing top 5 rows

In [190]:
stocks = stocks.selectExpr("_c5 as High", "_c6 as Low", "_c2 as Close", "_c1 as Date", "_c0 as Ticker", "_c3 as Volume", "_c4 as Open" )

In [191]:
from pyspark.sql.functions import monotonically_increasing_id

stocks = stocks.withColumn("index", monotonically_increasing_id())
stocks = stocks.filter(stocks.index != 0).drop("index")

In [192]:
stocks.show(5)

+--------+--------+--------+----------+------+-------+--------+
|    High|     Low|   Close|      Date|Ticker| Volume|    Open|
+--------+--------+--------+----------+------+-------+--------+
|$322.41 |$319.39 |$321.08 |05/31/2023| BRK-B|6175417|$321.12 |
|$322.47 |$319.00 |$322.19 |05/30/2023| BRK-B|3232461|$321.86 |
|$322.63 |$319.67 |$320.60 |05/26/2023| BRK-B|3229873|$320.44 |
|$320.56 |$317.71 |$319.02 |05/25/2023| BRK-B|4251935|$320.56 |
|$323.00 |$319.56 |$320.20 |05/24/2023| BRK-B|3075393|$322.71 |
+--------+--------+--------+----------+------+-------+--------+
only showing top 5 rows

In [193]:
print(df)

DataFrame[Stock: string, Date: string, Price: string]

In [195]:
def num_parser(value):
    if isinstance(value, str):
        return float(value.strip("$"))
    elif isinstance(value, int) or isinstance(value, float):
        return value
    else:
        return None

from pyspark.sql.types import FloatType
parser_number = udf(num_parser, FloatType())

print(num_parser("5.5"))
print(num_parser("$5.5"))

5.5
5.5

In [158]:
stocks = stocks.withColumn("Open", parser_number(stocks.Open))
stocks = stocks.withColumn("High", parser_number(stocks.High))
stocks = stocks.withColumn("Low", parser_number(stocks.Low))
stocks = stocks.withColumn("Close", parser_number(stocks.Close))

In [159]:
stocks.printSchema()

root
 |-- High: float (nullable = true)
 |-- Low: float (nullable = true)
 |-- Close: float (nullable = true)
 |-- Date: string (nullable = true)
 |-- Ticker: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Open: float (nullable = true)

In [160]:
from pyspark.sql.types import IntegerType
parse_int = udf(lambda value: int(value), IntegerType())

In [161]:
## Changing the datatype of the column
stocks = stocks.withColumn("Volume", parse_int(stocks.Volume))

In [162]:

stocks.printSchema()

root
 |-- High: float (nullable = true)
 |-- Low: float (nullable = true)
 |-- Close: float (nullable = true)
 |-- Date: string (nullable = true)
 |-- Ticker: string (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Open: float (nullable = true)

In [163]:
cleaned_stocks = stocks.select(["Ticker", "Date", "Volume", "Open", "Low", "High", "Close"])

In [180]:
cleaned_stocks.show(5)

+------+----+------+----+---+----+-----+----+-----+---+----+
|Ticker|Date|Volume|Open|Low|High|Close|Year|Month|Day|Week|
+------+----+------+----+---+----+-----+----+-----+---+----+
+------+----+------+----+---+----+-----+----+-----+---+----+

In [137]:
from pyspark.sql.functions import udf, col
from pyspark.sql.types import IntegerType

stocks = stocks.withColumn("Volume", col("Volume").cast(IntegerType()))

In [167]:
# Remove potential header rows or problematic values
cleaned_stocks = cleaned_stocks.filter(col("Open") != "Open")

In [179]:
cleaned_stocks = cleaned_stocks.withColumn("Open", col("Open").cast("float")) \
                                .withColumn("Low", col("Low").cast("float")) \
                                .withColumn("High", col("High").cast("float")) \
                                .withColumn("Close", col("Close").cast("float"))

# Now, proceed with the calculation
cleaned_stocks.groupBy("Ticker").max("Low").show(15)

+------+--------+
|Ticker|max(Low)|
+------+--------+
+------+--------+

In [169]:
from pyspark.sql.functions import col, max
from pyspark.sql.types import FloatType

# Remove potential header rows or problematic values
# Filter before casting to avoid casting issues with the header row
cleaned_stocks = cleaned_stocks.filter(col("Open") != "Open")

# Cast columns to the appropriate types
cleaned_stocks = cleaned_stocks.withColumn("Open", col("Open").cast(FloatType())) \
                                .withColumn("Low", col("Low").cast(FloatType())) \
                                .withColumn("High", col("High").cast(FloatType())) \
                                .withColumn("Close", col("Close").cast(FloatType()))

# Now, proceed with the calculation
cleaned_stocks.groupBy("Ticker").agg(max("Open")).show(15)

+------+---------+
|Ticker|max(Open)|
+------+---------+
+------+---------+

In [170]:
## Calculate maximum stock price for various stocks
cleaned_stocks.groupBy("Ticker").max("Open").show(15)

+------+---------+
|Ticker|max(Open)|
+------+---------+
+------+---------+

In [171]:
cleaned_stocks.groupBy("Ticker").max("Open").withColumnRenamed("max(Open)", "MaxStockPrice").show(15)

+------+-------------+
|Ticker|MaxStockPrice|
+------+-------------+
+------+-------------+

In [172]:
import pyspark.sql.functions as func
cleaned_stocks.groupBy("Ticker").agg(func.max("Open").alias("MaxStockPrice")).show(15)

+------+-------------+
|Ticker|MaxStockPrice|
+------+-------------+
+------+-------------+

In [173]:
cleaned_stocks.groupBy("Ticker").agg(
    func.max("Open").alias("MaxStockPrice"),
    func.sum("Volume").alias("TotalVolume")
).show(15)

+------+-------------+-----------+
|Ticker|MaxStockPrice|TotalVolume|
+------+-------------+-----------+
+------+-------------+-----------+

In [175]:
## Calculate maximum price of stocks each year => Basic date manipulation operation
cleaned_stocks = (cleaned_stocks.withColumn("Year", func.year(cleaned_stocks.Date))
                                .withColumn("Month", func.month(cleaned_stocks.Date))
                                .withColumn("Day", func.dayofmonth(cleaned_stocks.Date))
                                .withColumn("Week", func.weekofyear(cleaned_stocks.Date))
                 )

In [176]:

cleaned_stocks.show(10)

+------+----+------+----+---+----+-----+----+-----+---+----+
|Ticker|Date|Volume|Open|Low|High|Close|Year|Month|Day|Week|
+------+----+------+----+---+----+-----+----+-----+---+----+
+------+----+------+----+---+----+-----+----+-----+---+----+

In [177]:
yearly = cleaned_stocks.groupBy(['Ticker', 'Year']).agg(func.max("Open").alias("YearlHigh"), func.min("Open").alias("YearlyLow"))

In [178]:

yearly.show()

+------+----+---------+---------+
|Ticker|Year|YearlHigh|YearlyLow|
+------+----+---------+---------+
+------+----+---------+---------+

In [ ]:
## Calculate average stock price for stock each month
monthly = cleaned_stocks.groupBy(['Ticker', 'Year', 'Month']).agg(func.max("Open").alias("MonthHigh"), func.min("Open").alias("MonthLow"))
weekly = cleaned_stocks.groupBy(['Ticker', 'Year', 'Week']).agg(func.max("Open").alias("WeekHigh"), func.min("Open").alias("WeekLow"))

In [ ]:
monthly.show()

In [ ]:
weekly.show()

In [ ]:
weekly.withColumn("Spread", weekly['WeekHigh'] - weekly['WeekLow']).show()

In [ ]:
# Joins
cleaned_stocks.join(yearly,
                                      (cleaned_stocks.Ticker==yearly.Ticker) & (cleaned_stocks.Year == yearly.Year),
                                      'inner'
                                     ).show()

In [ ]:
cleaned_stocks.join(yearly,
                    (cleaned_stocks.Ticker==yearly.Ticker) & (cleaned_stocks.Year == yearly.Year),
                    'inner'
                   ).drop(yearly.Year, yearly.Ticker).show()

In [ ]:
historic_stocks = cleaned_stocks.join(yearly,
                    (cleaned_stocks.Ticker==yearly.Ticker) & (cleaned_stocks.Year == yearly.Year),
                    'inner'
                   ).drop(yearly.Year, yearly.Ticker)

In [ ]:

historic_stocks.show(5)

In [ ]:
cond = [(historic_stocks.Ticker==weekly.Ticker) & (historic_stocks.Year == weekly.Year) & (historic_stocks.Week == weekly.Week)]
historic_stocks = historic_stocks.join(weekly, cond, 'inner').drop(weekly.Year, historic_stocks.Ticker, weekly.Week)

In [ ]:
historic_stocks.show(5)

In [ ]:
historic_stocks = historic_stocks.join(monthly, ['Ticker', 'Year', 'Month'])

In [ ]:
historic_stocks.columns

In [ ]:
final_stocks = historic_stocks.select(['Ticker', 'Year',
 'Month', 'Day', 'Week', 'Volume','Open','Low','High','Close', 'YearlHigh','YearlyLow','WeekHigh','WeekLow',
 'MonthHigh','MonthLow'])

In [ ]:

final_stocks = historic_stocks.select(['Ticker', 'Year',
 'Month', 'Day', 'Week', 'Volume','Open','Low','High','Close', 'YearlHigh','YearlyLow','WeekHigh','WeekLow',
 'MonthHigh','MonthLow'])
final_stocks.show(5)

In [ ]:
final_stocks.createOrReplaceTempView('stockData')

In [ ]:

spark.sql("SELECT * FROM stockData where Ticker='MSFT' and Year='2023'").show(5)